PORT=5000
SUPABASE_URL=https://qczyqwijpmeflwuhgunw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_IxUrKreKuPVuCfXd81h4DA_yIipl76X
FRONTEND_URL=http://localhost:3000
AUTO_CHECKOUT_CRON=1 18 * * *
LEAVE_ACCRUAL_CRON=0 0 1 * *
